.Item{
    /* margin-top: 81px;
    margin-left: 390px;
    width: 84px;
    height: 35px;
    text-align: left;
    font: 25px;
    font-family: Poppins;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1; */
    display: inline-block;
    margin-left:4vw;
    font-size:20px;
    padding-top:10px;
    font-weight: bold;
    opacity: 1;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0em;
    
}